/**
 * Navbar
 */
.topnav {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    /* margin: 3.5%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1.6rem 0;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    /* font-size: 20px; */
    font-family: Roboto, sans-serif;
}
  
.topnav a:hover {
    background-color: #ff0000;
    text-decoration: underline;
    color: #ffffff;
    border-radius: 15px;
}
  
.topnav a.active {
    background-color: #ff0000;
    text-decoration: underline;
    color: #ffffff;
    border-radius: 15px;
}
  
.topnav .icon {
    display: none;
}

/* Logo */
/* .header-logo {
    padding-left: 2vw;
} */

.header-logo img {
    max-height:  50px;
    height: 100%;
}

/* Nav */
.main-navbar {
    width: 100%;
    display: flex;
    justify-content: right;
    /* background: green; */
}