/**
 * Root
 */
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size:100%; */
    font-size: 62.5%; /* si 62.5% alors 1 rem = 10 px */
}